﻿@model MoviesApi.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterAlias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterAlias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterPicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CharacterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
