﻿@model IEnumerable<MoviesApi.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CharacterFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterPicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterPicture)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
